<a href="https://colab.research.google.com/github/cybermin/2022_BSSM/blob/main/01_pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

# **해결문제**


최근 50년간의 출생자수, 사망자수, 혼인건수를 분석하시오.

---

# **pandas**


---


## **파이썬에서 사용하는 데이터분석 라이브러리**
 + 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구
 + NumPy를 기반으로 구축되었으며 과학 컴퓨팅 환경 내에서 다른 많은 타사 라이브러리와 잘 통합되도록 설계 
 + 많은 기능을 가진 데이터 구조
   - 다양한 방식으로 색인된 데이터를 다룰 수 있는 기능
   - 시계열 데이터와 비시계열 데이터를 함께 다룰 수 있는 통합 자료 구조
   - 누락된 데이터를 유연하게 처리할 수 있는 기능
   - SQL 같은 일반 데이터베이스처럼 데이터를 합치고 관계연산을 수행하는 기능

### **pandas 자료 구조**
* **Series**
 + 1차원 자료구조
 + index로 value를 구분하는 1차원 자료구조

* **DataFrame**
 + 2차원 자료구조
 + DataFrame는 행과 열이 있는 테이블 데이터



---

In [ ]:
#pandas 라이브러리 추가

## **외부 데이터 가져오기**
+ csv 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_csv(‘파일명‘, engine='python')
 - 파일 내용 한글이 깨지는 경우 : df = pd.read_csv(‘파일명‘, engine='python', encoding='cp949')
>
```
df = pd.read_csv(‘파일명‘)
```

+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(‘파일명‘)
>
```
df = pd.pd.read_excel(‘파일명‘)
```

&#9997; **Note: Colab에서 구글 드라이브 연동**

---
* 구글 드라이브를 마운트
>
```
from google.colab import drive
drive.mount('/content/gdrive')
```

In [ ]:
#CSV 파일불러오기

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인

In [ ]:
#데이터프레임의 크기 확인
print('데이터프레임 (행, 열) : ', df.shape)
print('데이터프레임 행 개수 len : ', len(df) )
print('데이터프레임 행 개수 len : ', len(df.index) )
print('데이터프레임 행 개수 shape : ', df.shape[0] )
print('데이터프레임 열 개수 len : ', len(df.columns) )
print('데이터프레임 열 개수 shape : ', df.shape[1] )

데이터프레임 (행, 열) :  (51, 4)
데이터프레임 행 개수 len :  51
데이터프레임 행 개수 len :  51
데이터프레임 행 개수 shape :  51
데이터프레임 열 개수 len :  4
데이터프레임 열 개수 shape :  4

In [ ]:
#데이터프레임 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년도       51 non-null     int64
 1   출생아수(명)  51 non-null     int64
 2   사망자수(명)  51 non-null     int64
 3   혼인건수(건)  51 non-null     int64
dtypes: int64(4)
memory usage: 1.7 KB

## **데이터프레임(DataFrame) 기본 조회**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회

     년도  출생아수(명)  사망자수(명)  혼인건수(건)
0  1970  1006645   258589   295137
1  1971  1024773   237528   239457

## 데이터프레임의 인덱스 
 + 열의 인덱스 : **df.colums**
 + 행의 인덱스 : **df.index**
 + **데이터프레임의 인덱스 변경**
   - 열인덱스 명 변경 : df.column = [열명인덱스]
   - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
   - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [ ]:
#행인덱스 확인

RangeIndex(start=0, stop=51, step=1)

In [ ]:
#열인덱스 확인

Index(['년도', '출생아수(명)', '사망자수(명)', '혼인건수(건)'], dtype='object')

&#9997; **Note: Python 리스트(list)**

---
+ 리스트(list)
 - 리스트의 각 요소는 순서를 가지고 있음
 - 대괄호([])로 작성되며 각 요소는 쉼표(,)로 구분
 - 요소를 추가, 수정, 삭제 가능

+ 리스트 접근 
 - for ... in 
 
+ 조건에 맞는 리스트 출력 추출
  > 
  ```
  [item for item in lt]
  [item for item in lt if 조건식]
  [item if 조건식 else 조건식 for item in lt]
  ```

In [ ]:
#열인덱스를 리스트로 만들기

In [ ]:
#리스트 한줄로 항목 출력

['년도', '출생아수(명)', '사망자수(명)', '혼인건수(건)']

In [ ]:
#리스트 한줄로 조건에 맞는 항목 출력

['년도']

In [ ]:
#리스트 한줄로 조건에 맞는 항목 출력

['년도', '출생아수', '사망자수', '혼인건수']

In [ ]:
#데이터프레임 열명리스트 만들기

In [ ]:
#데이터프레임 열명 출력

In [ ]:
#데이터프레임 변경 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      51 non-null     int64
 1   출생아수    51 non-null     int64
 2   사망자수    51 non-null     int64
 3   혼인건수    51 non-null     int64
dtypes: int64(4)
memory usage: 1.7 KB

In [ ]:
#데이터프레임 행인덱스 변경

         출생아수    사망자수    혼인건수
년도
1970  1006645  258589  295137
1971  1024773  237528  239457

## **데이터프레임(DataFrame)기초 통계 메소드**
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차
+ 데이터의 컬럼별 요약: **df.describe()**
  + 데이터의 컬럼별 요약 통계량
  + mean(), max(), median()등 개별 함수를 사용하여 통계량을 계산가능
  + 범주형 데이터 요약 : include='O'

In [ ]:
#평균구하기

출생아수    635915.901961
사망자수    252651.823529
혼인건수    337232.784314
dtype: float64

In [ ]:
#통계 요약

               출생아수           사망자수           혼인건수
count  5.100000e+01      51.000000      51.000000
mean   6.359159e+05  252651.823529  337232.784314
std    1.931547e+05   18212.010337   57762.431966
min    2.723370e+05  210071.000000  213502.000000
25%    4.707180e+05  241943.000000  302665.500000
50%    6.400890e+05  246463.000000  329087.000000
75%    7.599415e+05  262423.000000  390252.500000
max    1.024773e+06  304948.000000  434911.000000

## **데이터프레임 추출하기**
+ 열자료 가져오기 : df[]
 + 특정 열 가져오기 : df[열인덱스], df[열인덱스 리스트]
 + 특정 행 가져오기 : df[시작행인덱스:종료행인덱스] 

+ 인덱스명으로 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]
  * 특정 열 가져오기 : df.loc[:, 열인덱스]
  * 특정 행 가져오기 : df.loc[행인덱스, :]
  * 특정 항목 가져오기 : df.loc[행인덱스, 열인덱스]

+ 인덱스 위치값으로 특정 항목 가져오기 : df.iloc[행인덱스순서, 열인덱스순서]
  * 특정 열 가져오기 : df.iloc[:, 열인덱스순서]
  * 특정 행 가져오기 : df.iloc[행인덱스순서, :]
  * 특정 항목 가져오기 : df.iloc[행인덱스순서, 열인덱스순서]

In [ ]:
#한 개의 열 자료 가져오기

32431711

In [ ]:
#여러 개의 열 자료 가져오기

출생아수    32431711
혼인건수    17198872
dtype: int64

In [ ]:
#한 개의 열 자료 데이터프레임으로 가져오기

         출생아수
년도
1970  1006645
1971  1024773
1972   952780
1973   965521
1974   922823
1975   874030
1976   796331
1977   825339
1978   750728
1979   862669
1980   862835
1981   867409
1982   848312
1983   769155
1984   674793
1985   655489
1986   636019
1987   623831
1988   633092
1989   639431
1990   649738
1991   709275
1992   730678
1993   715826
1994   721185
1995   715020
1996   691226
1997   675394
1998   641594
1999   620668
2000   640089
2001   559934
2002   496911
2003   495036
2004   476958
2005   438707
2006   451759
2007   496822
2008   465892
2009   444849
2010   470171
2011   471265
2012   484550
2013   436455
2014   435435
2015   438420
2016   406243
2017   357771
2018   326822
2019   302676
2020   272337

In [ ]:
#특정 자료 가져오기

        출생아수    혼인건수
년도
2015  438420  302828
2020  272337  213502

## 데이터프레임 정렬
 - 행 인덱스로 정렬 : df.sort_index(axis=n), n생략 또는 0:행, 1:열
 - 열 값으로 정렬 : df.sort_values()
 - 내림차순 옵션 : ascending=False

In [ ]:
# 년도별 내림차순

        출생아수    사망자수    혼인건수
년도
2020  272337  304948  213502
2019  302676  295110  239159

## 데이터프레임 새로운 열 생성
+ df['새로운열명'] = 시리즈데이터

In [ ]:
#새로운 열 생성

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 1970 to 2020
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   출생아수    51 non-null     int64
 1   사망자수    51 non-null     int64
 2   혼인건수    51 non-null     int64
 3   자연증가수   51 non-null     int64
dtypes: int64(4)
memory usage: 4.5 KB

In [ ]:
#전년도 출생아수열 만들기

## **조건에 맞는 자료 추출**


---
+ df[조건식]
  + 시리즈.isin([리스트])
  + and 연산 : &
  + or 연산 : | 
  + and 연산이나 or연산인 경우는 반드시 ()로 묶어서 사용

In [ ]:
#전년도 대비 출생아수가 감소한 년도

In [ ]:
#전년대비 증가 감소 구분 
df['증감'] =

         출생아수    사망자수    혼인건수   자연증가수   전년출생아수  전년대비출생아수  증감
년도
1971  1024773  237528  239457  787245  1006645     18128  증가
1972   952780  210071  244780  742709  1024773    -71993  감소

## 외부 파일로 저장
+ csv 쓰기
```
df.to_csv(‘파일명‘, index=False)
```

+ 엑셀 쓰기 
```
df.to_excel(‘파일명‘)
```